[Unit]
Description=nmea-logger service
After=basic.target
#StartLimitIntervalSec=30
#StartLimitBurst=3

[Service]
User=nmea-logger
Group=nmea-logger
Restart=on-failure
RestartSec=30
EnvironmentFile=-/etc/nmea-logger.env
ExecStart=/usr/bin/nmea-logger
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65535
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=full
#ProtectHostname=true
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#LockPersonality=true
#RestrictRealtime=yes
#RestrictNamespaces=yes
#MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateTmp=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
