[Unit]
Description=nmea-logger service
After=basic.target

[Service]
User=nmea-logger
Group=nmea-logger
Restart=on-failure
RestartSec=30
EnvironmentFile=-/etc/nmea-logger.env
ExecStart=/usr/bin/nmea-logger log

[Install]
WantedBy=multi-user.target
